{% extends 'blogs/base.html' %}
{% load static %}

{% block content %}
<div class="breadcrumb-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                   <h2 class="lg-title">Contact</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="single-block-wrapper ">
	<div class="container">
		<div class="row">
			<div class="sidebar-widget subscribe mb-5 m-auto" style="width: 50%;">
                <h3 class="text-center widget-title">
                    <i class="fas fa-globe"></i> <a href="www.webnewsaddiction.com" class="text-center widget-title">Website:- webnewsaddiction.com</a>
                </h3>
                <h3 class="text-center widget-title">
                    <i class="far fa-envelope"></i> Email :- info@webnewsaddiction.com
                </h3>
                  
              </div>
				
        </div>
    </div>
</section>


{% endblock %}