{% extends 'blogs/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container mt-5" data-aos="zoom-out" data-aos-delay="100" style="padding-top: 0%;">
    <div class="row">

          <div class="sidebar-widget subscribe mb-5 m-auto" style="width: 50%;">
            <form method="POST" class="validate-form" >
              {% csrf_token %}

              <h4 class="text-center widget-title">Sign In</h4>
              <input type="text" class="form-control mb-2" placeholder="Enter Username" id="username" name="username">
              <input type="password" class="form-control mb-2" placeholder="Enter Password" id="password" name="password">
              
              <button type="submit" class="btn btn-primary d-block mt-3" style="width: 100%;">Log In</button>
            </form>
          </div>
    </div>
  </div>
</section><!-- End Hero -->


{% endblock content %}